/* .box{
    flex: 1 1 calc(33.3% - 1rem);
    padding: 1rem;
    height: 20rem;
}
*/
.box:hover{
    transition: 0.5s;
}

/*
.box .card {
    height: 100%;
}
.box .card img{
    height: 50%;
    overflow: hidden;
}

.box .card .card-body{
    height: 50%;
    text-align: left;
    font-size: 1rem;
    box-sizing: border-box;
}

.box .card .card-body .card-text{
    height: 40%;
    overflow: hidden;
} */